%    --- %
% --------------- %

Job: "FCNC_All_mujets"
  CmeLabel: "13 TeV"
  POI: "SigXsecOverSM"
  ReadFrom: NTUP
  NtuplePaths: "/scratch/jbarkelo/TRExInputs/mujets/"
  Label: "mu+jets"
  LumiLabel: "139 fb^{-1}"
  MCweight: "event_norm"
  NtupleName: "nominal"
  DebugLevel: 1
  MCstatThreshold: 0.001
  MCstatConstraint: "Poisson"
  SystControlPlots: FALSE
  CorrelationThreshold: 0.20
  HistoChecks: NOCRASH
  SplitHistoFiles: TRUE
  ImageFormat: "png"
  SystCategoryTables: TRUE
  RankingPlot: "all"
  RankingMaxNP: 10
  DoSummaryPlot: TRUE
  DoTables: TRUE
  DoSignalRegionsPlot: TRUE
  DoPieChartPlot: TRUE
  AtlasLabel: Internal
  TableOptions: FOOTNOTESIZE
  RatioYmax: 1.5
  RatioYmin: 0.5
  PlotOptions: "OVERSIG,NOSIG,YIELDS"

% --------------- %
% ---  FIT    --- %
% --------------- %

Fit: "fit"
  FitType: SPLUSB
  FitRegion: CRSR
  POIAsimov: 0.0001
  UseMinos: SigXsecOverSM
%  doLHscan: SigXsecOverSM
  FitBlind: TRUE

% --------------- %
% ---  LIMIT    --- %
% --------------- %

Limit: "limit"
  LimitType: ASYMPTOTIC
  POIAsimov: 0.001
%  SignalInjection: TRUE

% --------------- %
% --- REGIONS --- %
% --------------- %

%%%%%%%%%%%%%
% VR3 Plots %
%%%%%%%%%%%%%
Region: "VR3_ST"
  Type: VALIDATION
  Variable: "event_ST/1e3",30,0,1500
  VariableTitle: 'S_{T} [GeV]'
  Label: '=4j,=1b,=0\gamma'
  ShortLabel: 'VR3'
  Selection: (met_met+event_mwt)/1e3>60.&&(met_met/1e3>20.)
  NtuplePathSuff: "VR3"
  DataType: DATA

Region: "VR3_MWT"
  Type: VALIDATION
  Variable: "event_mwt/1e3",20,0,200
  VariableTitle: 'M_{WT} [GeV]'
  Label: '=4j,=1b,=0\gamma'
  ShortLabel: 'VR3'
  Selection: (met_met+event_mwt)/1e3>60.&&(met_met/1e3>20.)
  NtuplePathSuff: "VR3"
  DataType: DATA

Region: "VR3_SMtop"
  Type: VALIDATION
  Variable: "event_m_blnu_77/1e3",20,0,300
  VariableTitle: 'm_{Wb} [GeV]'
  Label: '=4j,=1b,=0\gamma'
  ShortLabel: 'VR3'
  Selection: (met_met+event_mwt)/1e3>60.&&(met_met/1e3>20.)
  NtuplePathSuff: "VR3"
  DataType: DATA

Region: "VR3_nbjet"
  Type: VALIDATION
  Variable: "event_nbjets77",15,0,15
  VariableTitle: 'n_{bjets}'
  Label: '=4j,=1b,=0\gamma'
  ShortLabel: 'VR3'
  Selection: (met_met+event_mwt)/1e3>60.&&(met_met/1e3>20.)
  NtuplePathSuff: "VR3"
  DataType: DATA

Region: "VR3_njet"
  Type: VALIDATION
  Variable: "event_njets",15,0,15
  VariableTitle: 'n_{jets}'
  Label: '=4j,=1b,=0\gamma'
  ShortLabel: 'VR3'
  Selection: (met_met+event_mwt)/1e3>60.&&(met_met/1e3>20.)
  NtuplePathSuff: "VR3"
  DataType: DATA

Region: "VR3_lep_pt"
  Type: VALIDATION
  Variable: "mu_pt/1e3",20,0,240
  VariableTitle: 'lepton {P_T} [GeV]'
  ShortLabel: 'VR3'
  Label: '=4j,=1b,=0\gamma'
  Selection: (met_met+event_mwt)/1e3>60.&&(met_met/1e3>20.)
  NtuplePathSuff: "VR3"
  DataType: DATA

Region: "VR3_met"
  Type: VALIDATION
  Variable: "met_met/1e3",20,0,240
  VariableTitle: 'Missing E_T [GeV]'
  ShortLabel: 'VR3'
  Label: '=4j,=1b,=0\gamma'
  Selection: (met_met+event_mwt)/1e3>60.&&(met_met/1e3>20.)
  NtuplePathSuff: "VR3"
  DataType: DATA

Region: "VR3_METHT"
  Type: VALIDATION
  Variable: "(met_met+event_HT)/1e3",20,0,1200
  VariableTitle: 'MET+HT [GeV]'
  ShortLabel: 'VR3'
  Label: 'VR3'
  Selection: ((met_met+event_mwt)/1e3>60.)&&(met_met/1e3>20.)
  NtuplePathSuff: "VR3"
  DataType: DATA 

Region: "VR3_METMWT"
  Type: VALIDATION
  Variable: "(met_met+event_mwt)/1e3",20,0,400
  VariableTitle: 'MET+MWT [GeV]'
  ShortLabel: 'VR3'
  Label: 'VR3'
  Selection: ((met_met+event_mwt)/1e3>60.)&&(met_met/1e3>20.)
  NtuplePathSuff: "VR3"
  DataType: DATA



%%%%%%%%%%%%%
% CR1 Plots %
%%%%%%%%%%%%%

Region: "CR1_ST"
  Type: VALIDATION
  Variable: "event_ST/1e3",30,0,1500
  VariableTitle: 'S_{T} [GeV]'
  Label: '=3j,=1b,=0\gamma'
  ShortLabel: 'CR1'
  Selection: (met_met+event_mwt)/1e3>60.&&(met_met/1e3>20.)
  NtuplePathSuff: "CR1"
  DataType: DATA

Region: "CR1_MWT"
  Type: VALIDATION
  Variable: "event_mwt/1e3",20,0,200
  VariableTitle: 'M_{WT} [GeV]'
  Label: '=3j,=1b,=0\gamma'
  ShortLabel: 'CR1'
  Selection: (met_met+event_mwt)/1e3>60.&&(met_met/1e3>20.)
  NtuplePathSuff: "CR1"
  DataType: DATA

Region: "CR1_SMtop"
  Type: VALIDATION
  Variable: "event_m_blnu_77/1e3",20,0,300
  VariableTitle: 'm_{Wb} [GeV]'
  Label: '=3j,=1b,=0\gamma'
  ShortLabel: 'CR1'
  Selection: (met_met+event_mwt)/1e3>60.&&(met_met/1e3>20.)
  NtuplePathSuff: "CR1"
  DataType: DATA

Region: "CR1_nbjet"
  Type: VALIDATION
  Variable: "event_nbjets77",15,0,15
  VariableTitle: 'n_{bjets}'
  Label: '=3j,=1b,=0\gamma'
  ShortLabel: 'CR1'
  Selection: (met_met+event_mwt)/1e3>60.&&(met_met/1e3>20.)
  NtuplePathSuff: "CR1"
  DataType: DATA

Region: "CR1_njet"
  Type: VALIDATION
  Variable: "event_njets",15,0,15
  VariableTitle: 'n_{jets}'
  Label: '=3j,=1b,=0\gamma'
  ShortLabel: 'CR1'
  Selection: (met_met+event_mwt)/1e3>60.&&(met_met/1e3>20.)
  NtuplePathSuff: "CR1"
  DataType: DATA

Region: "CR1_lep_pt"
  Type: VALIDATION
  Variable: "mu_pt/1e3",20,0,240
  VariableTitle: 'lepton {P_T} [GeV]'
  ShortLabel: 'CR1'
  Label: '=3j,=1b,=0\gamma'
  Selection: (met_met+event_mwt)/1e3>60.&&(met_met/1e3>20.)
  NtuplePathSuff: "CR1"
  DataType: DATA

Region: "CR1_met"
  Type: VALIDATION
  Variable: "met_met/1e3",20,0,240
  VariableTitle: 'Missing E_T [GeV]'
  ShortLabel: 'CR1'
  Label: '=3j,=1b,=0\gamma'
  Selection: (met_met+event_mwt)/1e3>60.&&(met_met/1e3>20.)
  NtuplePathSuff: "CR1"
  DataType: DATA

Region: "CR1_METHT"
  Type: VALIDATION
  Variable: "(met_met+event_HT)/1e3",20,0,1200
  VariableTitle: 'MET+HT [GeV]'
  ShortLabel: 'CR1'
  Label: 'CR1'
  Selection: ((met_met+event_mwt)/1e3>60.)&&(met_met/1e3>20.)
  NtuplePathSuff: "CR1"
  DataType: DATA 

Region: "CR1_METMWT"
  Type: VALIDATION
  Variable: "(met_met+event_mwt)/1e3",20,0,400
  VariableTitle: 'MET+MWT [GeV]'
  ShortLabel: 'CR1'
  Label: 'CR1'
  Selection: ((met_met+event_mwt)/1e3>60.)&&(met_met/1e3>20.)
  NtuplePathSuff: "CR1"
  DataType: DATA


%%%%%%%%%%%%%
% CR2 Plots %
%%%%%%%%%%%%%

Region: "CR2_ST"
  Type: VALIDATION
  Variable: "event_ST/1e3",30,0,1500
  VariableTitle: 'S_{T} [GeV]'
  Label: '>4j,=1b,=0\gamma'
  ShortLabel: 'CR2'
  Selection: (met_met+event_mwt)/1e3>60.&&(met_met/1e3>20.)
  NtuplePathSuff: "CR2"
  DataType: DATA

Region: "CR2_MWT"
  Type: VALIDATION
  Variable: "event_mwt/1e3",20,0,200
  VariableTitle: 'M_{WT} [GeV]'
  Label: '>4j,=1b,=0\gamma'
  ShortLabel: 'CR2'
  Selection: (met_met+event_mwt)/1e3>60.&&(met_met/1e3>20.)
  NtuplePathSuff: "CR2"
  DataType: DATA

Region: "CR2_SMtop"
  Type: VALIDATION
  Variable: "event_m_blnu_77/1e3",20,0,300
  VariableTitle: 'm_{Wb} [GeV]'
  Label: '>4j,=1b,=0\gamma'
  ShortLabel: 'CR2'
  Selection: (met_met+event_mwt)/1e3>60.&&(met_met/1e3>20.)
  NtuplePathSuff: "CR2"
  DataType: DATA

Region: "CR2_nbjet"
  Type: CONTROL
  Variable: "event_nbjets77",15,0,15
  VariableTitle: 'n_{bjets}'
  Label: '>4j,=1b,=0\gamma'
  ShortLabel: 'CR2'
  Selection: (met_met+event_mwt)/1e3>60.&&(met_met/1e3>20.)
  NtuplePathSuff: "CR2"
  DataType: DATA

Region: "CR2_njet"
  Type: VALIDATION
  Variable: "event_njets",15,0,15
  VariableTitle: 'n_{jets}'
  Label: '>4j,=1b,=0\gamma'
  ShortLabel: 'CR2'
  Selection: (met_met+event_mwt)/1e3>60.&&(met_met/1e3>20.)
  NtuplePathSuff: "CR2"
  DataType: DATA

Region: "CR2_lep_pt"
  Type: VALIDATION
  Variable: "mu_pt/1e3",20,0,240
  VariableTitle: 'lepton {P_T} [GeV]'
  ShortLabel: 'CR2'
  Label: '>4j,=1b,=0\gamma'
  Selection: (met_met+event_mwt)/1e3>60.&&(met_met/1e3>20.)
  NtuplePathSuff: "CR2"
  DataType: DATA

Region: "CR2_met"
  Type: VALIDATION
  Variable: "met_met/1e3",20,0,240
  VariableTitle: 'Missing E_T [GeV]'
  ShortLabel: 'CR2'
  Label: '>4j,=1b,=0\gamma'
  Selection: (met_met+event_mwt)/1e3>60.&&(met_met/1e3>20.)
  NtuplePathSuff: "CR2"
  DataType: DATA

Region: "CR2_METHT"
  Type: VALIDATION
  Variable: "(met_met+event_HT)/1e3",20,0,1200
  VariableTitle: 'MET+HT [GeV]'
  ShortLabel: 'CR2'
  Label: 'CR2'
  Selection: ((met_met+event_mwt)/1e3>60.)&&(met_met/1e3>20.)
  NtuplePathSuff: "CR2"
  DataType: DATA

Region: "CR2_METMWT"
  Type: VALIDATION
  Variable: "(met_met+event_mwt)/1e3",20,0,400
  VariableTitle: 'MET+MWT [GeV]'
  ShortLabel: 'CR2'
  Label: 'CR2'
  Selection: ((met_met+event_mwt)/1e3>60.)&&(met_met/1e3>20.)
  NtuplePathSuff: "CR2"
  DataType: DATA


%
%
%
 
% --------------- %
% --- SAMPLES --- %
% --------------- %

Sample: "Data"
  Title: "Data 2015/6"
  Type: DATA
  NtupleFiles: "MC16a.data","MC16d.data","MC16e.data"

Sample: "FCNC"
  Type: SIGNAL
  Title: "FCNC"
  FillColor: 3
  LineColor: 3
  NtupleFiles: "MC16a.FCNC","MC16d.FCNC","MC16e.FCNC"
  NormFactor: "SigXsecOverSM",0.1,-1,0.200
% Nominal Cross Section: 86.44pb in ntuples=>10.39%
  UseMCstat: FALSE

Sample: "ttbar"
  Type: BACKGROUND
  Title: "t#bar{t} + jets"
  FillColor: 10
  LineColor: 1
  NtupleFiles: "MC16a.ttbar","MC16d.ttbar","MC16e.ttbar"

Sample: "ttgam"
  Type: BACKGROUND
  Title: "t#bar{t} +  gam"
  FillColor: 15
  LineColor: 1
  NtupleFiles: "MC16a.ttgam","MC16d.ttgam","MC16e.ttgam"

Sample: "VV"
  Type: BACKGROUND
  Title: "VV"
  FillColor: 6
  LineColor: 1
  NtupleFiles: "MC16a.diboson","MC16d.diboson","MC16e.diboson"

Sample: "t"
  Type: BACKGROUND
  Title: "Single Top"
  FillColor: 8
  LineColor: 1
  NtupleFiles: "MC16a.singleTop","MC16d.singleTop","MC16e.singleTop"

Sample: "ttV"
  Type: BACKGROUND
  Title: "t#bar{t} + V"
  FillColor: 52
  LineColor: 1
  NtupleFiles: "MC16a.ttV","MC16d.ttV","MC16e.ttV"

Sample: "WGam"
  Type: BACKGROUND
  Title: "W+Gam"
  FillColor: 95
  LineColor: 1
  NtupleFiles: "MC16a.Wgam","MC16d.Wgam","MC16e.Wgam"

Sample: "WJets"
  Type: BACKGROUND
  Title: "W + jets"
  FillColor: 91
  LineColor: 1
  NtupleFiles: "MC16a.WJets","MC16d.WJets","MC16e.WJets"

Sample: "ZJets"
  Type: BACKGROUND
  Title: "Z + jets"
  FillColor: 61
  LineColor: 1
  NtupleFiles: "MC16a.ZJets","MC16d.ZJets","MC16e.ZJets"

Sample: "ZGam"
  Type: BACKGROUND
  Title: "Z+Gam"
  FillColor: 65
  LineColor: 1
  NtupleFiles: "MC16a.Zgam","MC16d.Zgam","MC16e.Zgam"




%%%%%%%%%% Dummy %%%%%%%%%%%%%

Systematic: "Dummy"
  Title: "Dummy"
  Type: OVERALL
  OverallUp: 0.00001
  OverallDown: -0.00001
  Category: Instrumental

%NormFactor: 'mu_tt'
%  Title: 'mu_XStt'
%  Nominal: 1
%  Min: 0.1
%  Max: 3
%  Category: ttbar
%  Constant: TRUE
%  Samples: "ttbar","ttgam"

%NormFactor: 'mu_W'
%  Title: 'mu_XSW'
%  Nominal: 1
%  Min: 0.8
%  Max: 1.5
%  Samples: "WJets","VGam"
















