%    --- %
% --------------- %

Job: "FCNC_All_ejets"
  CmeLabel: "13 TeV"
  POI: "SigXsecOverSM"
  ReadFrom: NTUP
  NtuplePaths: "/scratch/jbarkelo/TRExInputs/ejets/"
  Label: "el+jets"
  LumiLabel: "139 fb^{-1}"
  MCweight: "event_norm"
  NtupleName: "nominal"
  DebugLevel: 1
  MCstatThreshold: 0.001
  MCstatConstraint: "Poisson"
  SystControlPlots: FALSE
  CorrelationThreshold: 0.20
  HistoChecks: NOCRASH
  SplitHistoFiles: TRUE
  ImageFormat: "png"
  SystCategoryTables: TRUE
  RankingPlot: "all"
  RankingMaxNP: 10
  DoSummaryPlot: TRUE
  DoTables: TRUE
  DoSignalRegionsPlot: TRUE
  DoPieChartPlot: TRUE
  AtlasLabel: Internal
  TableOptions: FOOTNOTESIZE
  RatioYmax: 1.5
  RatioYmin: 0.5
  PlotOptions: "OVERSIG,NOSIG,YIELDS"

% --------------- %
% ---  FIT    --- %
% --------------- %

Fit: "fit"
  FitType: SPLUSB
  FitRegion: CRSR
  POIAsimov: 0.0001
  UseMinos: SigXsecOverSM
%  doLHscan: SigXsecOverSM
%  FitBlind: TRUE

% --------------- %
% ---  LIMIT    --- %
% --------------- %

Limit: "limit"
  LimitType: ASYMPTOTIC
  POIAsimov: 0.001
%  SignalInjection: TRUE

% --------------- %
% --- REGIONS --- %
% --------------- %

%%%%%%%%%%%
% PreSel Plots
%%%%%%%%%%%
Region: "PreSel_ST"
  Type: VALIDATION
  Variable: "event_ST/1e3",30,0,1500
  VariableTitle: 'S_{T} [GeV]'
  Label: '\geq 1b,\geq 2j,=1\gamma '
  ShortLabel: 'PreSel'
  Selection: ((met_met/1e3>30.)&&(event_mwt/1e3>30.)&&ph_iso_topoetcone40/1e3<4.)&&(ph_pt/1e3>50.)
  NtuplePathSuff: "presel"
  DataType: DATA

Region: "PreSel_MWT"
  Type: VALIDATION
  Variable: "event_mwt/1e3",20,0,200
  VariableTitle: 'M_{WT} [GeV]'
  Label: '\geq 1b,\geq 2j,=1\gamma '
  ShortLabel: 'PreSel'
  Selection: ((met_met/1e3>30.)&&(event_mwt/1e3>30.)&&ph_iso_topoetcone40/1e3<4.)&&(ph_pt/1e3>50.)
  NtuplePathSuff: "presel"
  DataType: DATA

Region: "PreSel_nbjet"
  Type: VALIDATION
  Variable: "event_nbjets77",15,0,15
  VariableTitle: 'n_{bjets}'
  Label: '\geq 1b,\geq 2j,=1\gamma '
  ShortLabel: 'PreSel'
  Selection: ((met_met/1e3>30.)&&(event_mwt/1e3>30.)&&ph_iso_topoetcone40/1e3<4.)&&(ph_pt/1e3>50.)  
  NtuplePathSuff: "presel"
  DataType: DATA

Region: "PreSel_njet"
  Type: VALIDATION
  Variable: "event_njets",15,0,15
  VariableTitle: 'n_{jets}'
  Label: '\geq 1b,\geq 2j,=1\gamma '
  ShortLabel: 'PreSel'
  Selection: ((met_met/1e3>30.)&&(event_mwt/1e3>30.)&&ph_iso_topoetcone40/1e3<4.)&&(ph_pt/1e3>50.)
  NtuplePathSuff: "presel"
  DataType: DATA

Region: "PreSel_ph_pt"
  Type: CONTROL
  Variable: "ph_pt/1e3",20,0,240
  VariableTitle: '\gamma_{P_T} [GeV]'
  Label: '\geq 1b,\geq 2j,=1\gamma '
  ShortLabel: 'PreSel'
  Selection: ((met_met/1e3>30.)&&(event_mwt/1e3>30.)&&ph_iso_topoetcone40/1e3<4.)&&(ph_pt/1e3>50.)
  NtuplePathSuff: "presel"
  DataType: DATA

Region: "PreSel_m_lgam"
  Type: VALIDATION
  Variable: "m_lgam/1e3",20,0,240
  VariableTitle: 'm_{l \gamma} [GeV]'
  Label: '\geq 1b,\geq 2j,=1\gamma '
  ShortLabel: 'PreSel'
  Selection: ((met_met/1e3>30.)&&(event_mwt/1e3>30.)&&ph_iso_topoetcone40/1e3<4.)&&(ph_pt/1e3>50.)
  NtuplePathSuff: "presel"
  DataType: DATA

Region: "PreSel_lep_pt"
  Type: VALIDATION
  Variable: "el_pt/1e3",20,0,240
  VariableTitle: 'lepton {P_T} [GeV]'
  Label: '\geq 1b,\geq 2j,=1\gamma '
  ShortLabel: 'PreSel'
  Selection: ((met_met/1e3>30.)&&(event_mwt/1e3>30.)&&ph_iso_topoetcone40/1e3<4.)&&(ph_pt/1e3>50.)
  NtuplePathSuff: "presel"
  DataType: DATA

Region: "PreSel_met"
  Type: VALIDATION
  Variable: "met_met/1e3",20,0,240
  VariableTitle: 'Missing E_T [GeV]'
  Label: '\geq 1b,\geq 2j,=1\gamma '
  ShortLabel: 'PreSel'
  Selection: ((met_met/1e3>30.)&&(event_mwt/1e3>30.)&&ph_iso_topoetcone40/1e3<4.)&&(ph_pt/1e3>50.) 
  NtuplePathSuff: "presel"
  DataType: DATA

Region: "PreSel_mqph"
  Type: VALIDATION
  Variable: "ph_mqph_leading_77/1e3",20,0,300
  VariableTitle: 'm_{q\gamma} [GeV]'
  Label: '\geq 1b,\geq 2j,=1\gamma '
  ShortLabel: 'PreSel'
  Selection: ((met_met/1e3>30.)&&(event_mwt/1e3>30.)&&ph_iso_topoetcone40/1e3<4.)&&(ph_pt/1e3>50.)
  NtuplePathSuff: "presel"
  DataType: DATA

Region: "PreSel_phiso"
  Type: VALIDATION
  Variable: "ph_iso_topoetcone40/1e3",20,-10,10
  VariableTitle: 'ph_{iso}'
  Label: '\geq 1b,\geq 2j,=1\gamma '
  ShortLabel: 'PreSel'
  Selection: ((met_met/1e3>30.)&&(event_mwt/1e3>30.)&&ph_iso_topoetcone40/1e3<4.)&&(ph_pt/1e3>50.)
  NtuplePathSuff: "presel"
  DataType: DATA

Region: "PreSel_phiso2"
  Type: VALIDATION
  Variable: "ph_iso_ptcone20/1e3",20,0,25
  VariableTitle: 'ph_{iso}'
  Label: '\geq 1b,\geq 2j,=1\gamma '
  ShortLabel: 'PreSel'
  Selection: ((met_met/1e3>30.)&&(event_mwt/1e3>30.)&&ph_iso_topoetcone40/1e3<4.)&&(ph_pt/1e3>50.)
  NtuplePathSuff: "presel"
  DataType: DATA


Region: "PreSel_drqph"
  Type: VALIDATION
  Variable: "ph_drqph_closest_77",20,0,4
  VariableTitle: '\Delta R_{q\gamma} [GeV]'
  Label: '\geq 1b,\geq 2j,=1\gamma '
  ShortLabel: 'PreSel'
  Selection: ((met_met/1e3>30.)&&(event_mwt/1e3>30.)&&ph_iso_topoetcone40/1e3<4.)&&(ph_pt/1e3>50.)
  NtuplePathSuff: "presel"
  DataType: DATA

Region: "PreSel_METHT"
  Type: VALIDATION
  Variable: "(met_met+event_HT)/1e3",20,0,1200
  VariableTitle: 'MET+HT [GeV]'
  Label: '\geq 1b,\geq 2j,=1\gamma '
  ShortLabel: 'PreSel'
  Selection: ((met_met/1e3>30.)&&(event_mwt/1e3>30.)&&ph_iso_topoetcone40/1e3<4.)&&(ph_pt/1e3>50.)
  NtuplePathSuff: "presel"
  DataType: DATA

Region: "PreSel_NNejet"
  Type: VALIDATION
  Variable: "NNejet",20,0,1
  VariableTitle: 'NN Output'
  LogScale: TRUE
  Label: '\geq 1b,\geq 2j,=1\gamma '
  ShortLabel: 'PreSel'
  Selection: ((met_met/1e3>30.)&&(event_mwt/1e3>30.)&&ph_iso_topoetcone40/1e3<4.)&&(ph_pt/1e3>50.)
  NtuplePathSuff: "presel"
  DataType: DATA

Region: "PreSel_METMWT"
  Type: VALIDATION
  Variable: "(met_met+event_mwt)/1e3",20,0,400
  VariableTitle: 'MET+MWT [GeV]'
  ShortLabel: 'PreSel'
  Label: '\geq 1b,\geq 2j,=1\gamma '
  Selection: ((met_met/1e3>30.)&&(event_mwt/1e3>30.)&&ph_iso_topoetcone40/1e3<4.)&&(ph_pt/1e3>50.)
  NtuplePathSuff: "presel"
  DataType: DATA

Region: "PreSel_SMtop"
  Type: VALIDATION
  Variable: "event_m_blnu_77/1e3",20,0,300
  VariableTitle: 'm_{Wb} [GeV]'
  Label: '\geq 1b,\geq 2j,=1\gamma '
  ShortLabel: 'PreSel'
  Selection: ((met_met/1e3>30.)&&(event_mwt/1e3>30.)&&ph_iso_topoetcone40/1e3<4.)&&(ph_pt/1e3>50.)
  NtuplePathSuff: "PreSel"
  DataType: DATA



%
%
%
 
% --------------- %
% --- SAMPLES --- %
% --------------- %

Sample: "Data"
  Title: "Data"
  Type: DATA
  NtupleFiles: "MC16a.data","MC16d.data","MC16e.data"

Sample: "FCNC"
  Type: SIGNAL
  Title: "FCNC"
  FillColor: 3
  LineColor: 3
  NtupleFiles: "MC16a.FCNC","MC16d.FCNC","MC16e.FCNC"
  NormFactor: "SigXsecOverSM",0.1,-1,0.200
% Nominal Cross Section: 86.44pb in ntuples=>10.39%
  UseMCstat: FALSE

Sample: "ttbar"
  Type: BACKGROUND
  Title: "t#bar{t} + jets"
  FillColor: 10
  LineColor: 1
  NtupleFiles: "MC16a.ttbar","MC16d.ttbar","MC16e.ttbar"

Sample: "ttgam"
  Type: BACKGROUND
  Title: "t#bar{t} +  gam"
  FillColor: 15
  LineColor: 1
  NtupleFiles: "MC16a.ttgam","MC16d.ttgam","MC16e.ttgam"

Sample: "VV"
  Type: BACKGROUND
  Title: "VV"
  FillColor: 6
  LineColor: 1
  NtupleFiles: "MC16a.diboson","MC16d.diboson","MC16e.diboson"

Sample: "t"
  Type: BACKGROUND
  Title: "Single Top"
  FillColor: 8
  LineColor: 1
  NtupleFiles: "MC16a.singleTop","MC16d.singleTop","MC16e.singleTop"

Sample: "ttV"
  Type: BACKGROUND
  Title: "t#bar{t} + V"
  FillColor: 52
  LineColor: 1
  NtupleFiles: "MC16a.ttV","MC16d.ttV","MC16e.ttV"

Sample: "WGam"
  Type: BACKGROUND
  Title: "W+Gam"
  FillColor: 95
  LineColor: 1
  NtupleFiles: "MC16a.Wgam","MC16d.Wgam","MC16e.Wgam"

Sample: "WJets"
  Type: BACKGROUND
  Title: "W + jets"
  FillColor: 91
  LineColor: 1
  NtupleFiles: "MC16a.WJets","MC16d.WJets","MC16e.WJets"

Sample: "ZJets"
  Type: BACKGROUND
  Title: "Z + jets"
  FillColor: 61
  LineColor: 1
  NtupleFiles: "MC16a.ZJets","MC16d.ZJets","MC16e.ZJets"

Sample: "ZGam"
  Type: BACKGROUND
  Title: "Z+Gam"
  FillColor: 65
  LineColor: 1
  NtupleFiles: "MC16a.Zgam","MC16d.Zgam","MC16e.Zgam"



%%%%%%%%%% Dummy %%%%%%%%%%%%%

Systematic: "Dummy"
  Title: "Dummy"
  Type: OVERALL
  OverallUp: 0.00001
  OverallDown: -0.00001
  Category: Instrumental

%NormFactor: 'mu_tt'
%  Title: 'mu_XStt'
%  Nominal: 1
%  Min: 0.1
%  Max: 3
%  Category: ttbar
%  Constant: TRUE
%  Samples: "ttbar","ttgam"

%NormFactor: 'mu_W'
%  Title: 'mu_XSW'
%  Nominal: 1
%  Min: 0.8
%  Max: 1.5
%  Samples: "WJets","VGam"
















