MultiFit: "Comb"
  Label: "FCNC"
  POIName: "SigXsecOverSM"
  Combine: TRUE 
  Compare: TRUE
  CmeLabel: "13 TeV"
  LumiLabel: "139 pb^{-1}"
  ComparePOI: TRUE
  ComparePulls: TRUE
  CompareLimits: FALSE 
  POITitle: "Best Fit #mu = #sigma^{FCNC}/#sigma^{FCNC}_{nominal}"
  POIRange: 0,0.2
  ShowObserved: TRUE
  DataName: "obsData"
  CombineChByCh: TRUE
  StatOnly: FALSE
  IncludeStatOnly: FALSE
 
Fit: "ejets"
  ConfigFile: elSyst.config
  Label: "ejets"
  
Fit: "mujets"
  ConfigFile: muSyst.config
  Label: "mujets"
 
